# backups and logs
##################
*~
*.tmp
*#
*.#*
*.log
*.out

# compiled files
################
*.[oa]
*.so
*.py[oc]
*.1
MANIFEST
pyformex-[A-Z]*
HOWTO-dev.pdf
pyformex/extra/gts/gts[^.]*

# compiled docs
###############
sphinx/ref/*.rst
sphinx/_build/
sphinx/*.help

# compiled packages
###################
pkg/pyformex*

# foreign and temp directories
##############################
dist/
build/
www/
test/
stats/_sloccount_
