#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules  for pyFormex, using debhelper.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk


%:
	dh $@ --with python2

build:
	@echo "=== Patching ==="
	sed -i "s/installtype =.*/installtype = 'D'/" $(CURDIR)/pyformex/pyformex
	@echo "=== Building ==="
	dh_auto_build
	@echo "=== Building extra ==="
	make -C $(CURDIR)/pyformex/extra

binary:
	@echo "=== Installing ==="
	dh binary --with python2
	@echo "=== Installing extra ==="
	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra prefix=/usr install


binary-arch:
	dh_numpy
	dh binary-arch -a --with=python2


override_dh_auto_install:
	dh_auto_install
	# Move architecture independent files to /usr/share
	set -e; for py in $(shell pyversions -s); do \
		rm -rf $(CURDIR)/debian/tmp/usr/share/pyformex; \
		rm -rf $(CURDIR)/debian/tmp/usr/share/doc/pyformex; \
		install -d $(CURDIR)/debian/tmp/usr/share/pyformex; \
		install -d $(CURDIR)/debian/tmp/usr/share/doc/pyformex; \
		mv $(CURDIR)/debian/tmp/usr/lib/$$py/dist-packages/pyformex/icons $(CURDIR)/debian/tmp/usr/share/pyformex; \
		mv $(CURDIR)/debian/tmp/usr/lib/$$py/dist-packages/pyformex/data $(CURDIR)/debian/tmp/usr/share/pyformex; \
		mv $(CURDIR)/debian/tmp/usr/lib/$$py/dist-packages/pyformex/doc/* $(CURDIR)/debian/tmp/usr/share/doc/pyformex; \
		done

	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra install prefix=/usr


override_dh_install:
	dh_install -i --exclude=".so"
	dh_install -a


override_dh_python2:
	dh_numpy
	dh_python2
	# Link architecture independent files to keep pyformex happy
	set -e; if [ -d "debian/pyformex" ]; then \
		for py in $(shell pyversions -s); do \
			ln -sf /usr/share/doc/pyformex $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/doc; \
			ln -sf /usr/share/pyformex/data $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/data; \
			ln -sf /usr/share/pyformex/icons $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/icons; \
		done; fi

	# Replace embedded Javascript libraries with symlinks
	set -e; if [ -d "debian/pyformex" ]; then \
		for FILENAME in jquery underscore; do \
		find $(CURDIR)/debian/pyformex -name $$FILENAME.js -print \
                -exec ln -sf /usr/share/javascript/$$FILENAME/$$FILENAME.js {} \; ;\
		done; fi


# End
